{% extends "layout_main.html.twig" %}

{% block title %}
  Welcome to ESS's homepage! - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">Welcome to ESS's homepage!</h1>

  <marquee class="lead" style="background:yellow;color:red;">
    <b>ESS のホームページへようこそ！</b>
  </marquee>

{% endblock %}
