{% extends "layout_main.html.twig" %}

{% block title %}
  {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">スタッフモードホーム</h1>
  <p>PCの方は、左のメニューから選んでください。スマホの方は、画面左上の≡ボタンをタップすると、メニューが表示されます。</p>

  <hr>

  <p class="text-center"><strong>Project v2 のご紹介。</strong></p>

  <a href="{{ base_url('/home__v2') }}" target="_blank" rel="noopener">
    <img src="{{ base_url('/img/project_v2.png') }}" style="display: block; margin: 0 auto 5rem; width: 100%; max-width: 600px; height: auto; box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);">
  </a>


{% endblock %}
