{% extends "layout_main.html.twig" %}

{% block title %}
  {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">スタッフモードホーム</h1>
  <p>PCの方は、左のメニューから選んでください。スマホの方は、画面左上の≡ボタンをタップすると、メニューが表示されます。</p>


{% endblock %}
