:root {
  --rgb-color-text: 34, 41, 47;
  --rgb-color-primary: 26, 121, 244;
  --rgb-color-danger: 219, 60, 62;
  --rgb-color-success: 27, 162, 78;
  --rgb-color-warning: 254, 117, 10;
  --rgb-color-muted: 108, 117, 125;
  --rgb-color-muted-2: 167, 182, 194;
  --rgb-color-muted-3: 195, 207, 216;
  --rgb-color-border: 218, 224, 230;
  --rgb-color-bg-grey: 243, 244, 250;
  --rgb-color-bg-light: 239, 239, 239;
  --rgb-color-bg-white: 255, 255, 255;
}
