:root {
  --color-text: rgb(34, 41, 47);
  --color-primary: rgb(26, 121, 244);
  --color-danger: rgb(219, 60, 62);
  --color-success: rgb(27, 162, 78);
  --color-muted: rgb(108, 117, 125);
  --color-muted-2: rgb(167, 182, 194);
  --color-muted-3: rgb(195, 207, 216);
  --color-border: rgb(218, 224, 230);
  --color-bg-grey: rgb(243, 244, 250);
  --color-bg-light: rgb(239, 239, 239);
  --color-behind-text: rgb(255, 255, 255);
  --color-form-control: rgb(250, 250, 252);
  --color-form-control-readonly: rgb(255, 255, 255);
  --color-form-control-focus: rgb(255, 255, 255);
  --color-box-shadow: rgba(34, 41, 47, 0.25);
  --color-box-shadow-light: rgba(34, 41, 47, 0.15);
  --color-focus-primary: rgba(26, 121, 244, 0.25);
  --color-focus-danger: rgba(219, 60, 62, 0.25);
  --color-pre-background: rgba(255, 255, 255, 0.25);
  --color-code-background: rgba(27, 162, 78, 0.1);
  --color-drawer-backdrop: rgba(34, 41, 47, 0.75);
  --color-grid-table-stripe: rgba(239, 239, 239, 0.4);
  --color-top-alert-border: rgba(255, 255, 255, 0.16);
  --color-primary-hover: rgba(26, 121, 244, 0.8);
  --color-primary-inverse-hover: rgba(26, 121, 244, 0.15);
  --color-danger-hover: rgba(219, 60, 62, 0.8);
  --color-success-hover: rgba(27, 162, 78, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(196, 199, 202);
    --color-primary: rgb(117, 170, 240);
    --color-danger: rgb(226, 118, 120);
    --color-success: rgb(75, 189, 119);
    --color-muted: rgb(123, 130, 136);
    --color-muted-2: rgb(60, 65, 70);
    // --color-muted-3: rgb(195, 207, 216);
    --color-border: rgb(60, 61, 65);
    --color-bg-grey: rgb(15, 15, 15);
    --color-bg-light: rgb(20, 20, 20);
    --color-behind-text: rgb(28, 28, 28);
    --color-form-control: rgb(18, 18, 18);
    --color-form-control-readonly: rgb(40, 40, 40);
    --color-form-control-focus: rgb(18, 18, 18);
    --color-box-shadow: rgba(0, 0, 0, 0.75);
    --color-box-shadow-light: rgba(0, 0, 0, 0.9);
    --color-focus-primary: rgba(117, 170, 240, 0.3);
    --color-focus-danger: rgba(226, 118, 120, 0.4);
    --color-pre-background: rgba(255, 255, 255, 0.02);
    --color-code-background: rgba(75, 189, 119, 0.15);
    --color-drawer-backdrop: rgba(0, 0, 0, 0.75);
    --color-grid-table-stripe: rgba(12, 12, 12, 0.4);
    --color-top-alert-border: rgba(28, 28, 28, 0.16);
    --color-primary-hover: rgba(117, 170, 240, 0.8);
    --color-primary-inverse-hover: rgba(117, 170, 240, 0.15);
    --color-danger-hover: rgba(226, 118, 120, 0.8);
    --color-success-hover: rgba(75, 189, 119, 0.8);
  }
}
