:root {
  --rgb-color-text: 34, 41, 47;
  --rgb-color-primary: 26, 121, 244;
  --rgb-color-danger: 219, 60, 62;
  --rgb-color-success: 27, 162, 78;
  --rgb-color-muted: 108, 117, 125;
  --rgb-color-muted-2: 167, 182, 194;
  --rgb-color-muted-3: 195, 207, 216;
  --rgb-color-border: 218, 224, 230;
  --rgb-color-bg-grey: 243, 244, 250;
  --rgb-color-bg-light: 239, 239, 239;
  --rgb-color-bg-white: 255, 255, 255;
  --rgba-box-shadow: 34, 41, 47, 0.25;
  --rgba-box-shadow-light: 34, 41, 47, 0.15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rgb-color-text: 196, 199, 202;
    --rgb-color-primary: 117, 170, 240;
    --rgb-color-danger: 226, 118, 120;
    --rgb-color-success: 75, 189, 119;
    --rgb-color-muted: 123, 130, 136;
    // --rgb-color-muted-2: rgb(167, 182, 194);
    // --rgb-color-muted-3: rgb(195, 207, 216);
    --rgb-color-border: 40, 41, 43;
    --rgb-color-bg-grey: 12, 11, 5;
    --rgb-color-bg-light: 0, 0, 0;
    --rgb-color-bg-white: 20, 20, 20;
    --rgba-box-shadow: 0, 0, 0, 0.75;
    --rgba-box-shadow-light: 0, 0, 0, 0.9;
  }
}
