// Font Size
$base-font-size-px: 15;
$base-font-size: #{$base-font-size-px + 'px'};
$font-size-xl: #{(24 / $base-font-size-px) + 'rem'};
$font-size-lg: #{(20 / $base-font-size-px) + 'rem'};
$font-size: #{(14 / $base-font-size-px) + 'rem'};
// inputのフォントサイズは16px以上にしないと、フォーカス時 iOS デバイスで
// ズームしてしまう
$font-size-input: #{(16 / $base-font-size-px) + 'rem'};

// Color
$color-text: rgb(var(--rgb-color-text));
$color-primary: rgb(var(--rgb-color-primary));
$color-danger: rgb(var(--rgb-color-danger));
$color-success: rgb(var(--rgb-color-success));
$color-warning: rgb(var(--rgb-color-warning));
$color-muted: rgb(var(--rgb-color-muted));
$color-muted-2: rgb(var(--rgb-color-muted-2));
$color-muted-3: rgb(var(--rgb-color-muted-3));
$color-border: rgb(var(--rgb-color-border));
$color-bg-grey: rgb(var(--rgb-color-bg-grey));
$color-bg-light: rgb(var(--rgb-color-bg-light));
$color-bg-white: rgb(var(--rgb-color-bg-white));
$color-box-shadow: rgba(var(--rgb-color-text), 0.25);
$color-box-shadow-light: rgba(var(--rgb-color-text), 0.15);
$semantic-colors: (
  primary: $color-primary,
  danger: $color-danger,
  success: $color-success,
  warning: $color-warning,
  muted: $color-muted,
);

// Spacing (WIP)
$spacing-xl: 4rem;
$spacing-lg: 2rem;
$spacing: 1.5rem;
$spacing-s: 1.2rem;
$spacing-md: 1rem;
$spacing-sm: 0.5rem;
$spacing-xs: 0.2rem;
$spacing-xxs: 0.1rem;

// Parameters
$drawer-width: 320px;
$drawer-width-narrow: 280px;
$navbar-height: 5rem;
$transition-base: 0.3s ease;
$transition-base-fast: 0.15s ease;
$border-radius: 0.25rem;
$bottom-tabs-height: 4.5rem;
$bottom-tabs-container-width: 600px;
$listview-border: 1px solid $color-border;
$container-padding-x: $spacing;
$container-padding-y: 0;
$side-window-width: 400px;
$focus-outline: 3px solid rgba(var(--rgb-color-primary), 0.25);

// Container Width
$container-width: 1024px;
$container-width-narrow: 400px;
$container-width-medium: 800px;

// Media Breakpoints
$breakpoint-drawer-narrow: 1440px;
$breakpoint-drawer-hide: 1000px;
$breakpoint-listview-sm: 860px;
$breakpoint-bottom-tabs: $breakpoint-drawer-hide;
$breakpoint-top-alert-col: 860px;
$breakpoint-side-window-fluid: 860px;

// Z indexes
$z-index-loading: 9999;
$z-index-dropdown-menu: 9996;
$z-index-drawer: 9990;
$z-index-drawer-backdrop: 9989;
$z-index-navbar: 9980;
$z-index-side-window: 9970;
$z-index-bottom_tabs: 9980;
