// Font Size
$base-font-size-px: 15;
$base-font-size: #{$base-font-size-px + 'px'};
$font-size-lg: #{(20 / $base-font-size-px) + 'rem'};
$font-size: #{(14 / $base-font-size-px) + 'rem'};
// inputのフォントサイズは16px以上にしないと、フォーカス時 iOS デバイスで
// ズームしてしまう
$font-size-input: #{(16 / $base-font-size-px) + 'rem'};
$font-size-listview-title: 1.25rem;

// Color
$color-success: #36B34E;
$color-primary: #1F97CC;
$color-danger: #EF3F2F;
$color-text: #22292F;
$color-muted: #737A80;
$color-border: #CED4DA;
$color-bg-grey: #F8FAFC;
$color-bg-light: lighten($color-primary, 52);
$color-bg-white: #FFF;

// Spacing (WIP)
$spacing-xl: 6rem;
$spacing-lg: 2.5rem;
$spacing: 1.5rem;
$spacing-md: 1rem;
$spacing-sm: 0.5rem;
$spacing-xs: 0.25rem;

// Parameters
$drawer-width: 320px;
$navbar-height: 5rem;
$content-width: calc(100vw - #{$drawer-width});
$transition-base: 0.3s ease;
$transition-base-fast: 0.2s ease;
$border-radius: 0.25rem;
$bottom-tabs-height: 4.5rem;
$bottom-tabs-container-width: 600px;

// Container Width
$container-width: 1024px;
$container-width-narrow: 400px;

// Media Breakpoints
$breakpoint-drawer-hide: 1240px;
$breakpoint-listview-sm: 860px;
$breakpoint-bottom-tabs: $breakpoint-drawer-hide;

// Z indexes
$z-index-drawer: 9990;
$z-index-drawer-backdrop: 9989;
$z-index-navbar: 9980;
$z-index-bottom_tabs: 9980;
