// Font Size
$base-font-size-px: 15;
$base-font-size: #{$base-font-size-px + 'px'};
$font-size-xl: #{(24 / $base-font-size-px) + 'rem'};
$font-size-lg: #{(20 / $base-font-size-px) + 'rem'};
$font-size: #{(14 / $base-font-size-px) + 'rem'};
// inputのフォントサイズは16px以上にしないと、フォーカス時 iOS デバイスで
// ズームしてしまう
$font-size-input: #{(16 / $base-font-size-px) + 'rem'};

// Color
$color-text: var(--color-text);
$color-primary: var(--color-primary);
$color-danger: var(--color-danger);
$color-success: var(--color-success);
$color-muted: var(--color-muted);
$color-muted-2: var(--color-muted-2);
$color-muted-3: var(--color-muted-3);
$color-border: var(--color-border);
$color-bg-grey: var(--color-bg-grey);
$color-bg-light: var(--color-bg-light);
$color-behind-text: var(--color-behind-text);
$color-form-control: var(--color-form-control);
$color-form-control-readonly: var(--color-form-control-readonly);
$color-form-control-focus: var(--color-form-control-focus);
$semantic-colors: (
  primary: $color-primary,
  danger: $color-danger,
  success: $color-success,
  muted: $color-muted,
);

$color-box-shadow: var(--color-box-shadow);
$color-box-shadow-light: var(--color-box-shadow-light);
$color-focus-primary: var(--color-focus-primary);
$color-focus-danger: var(--color-focus-danger);
$color-pre-background: var(--color-pre-background);
$color-code-background: var(--color-code-background);
$color-drawer-backdrop: var(--color-drawer-backdrop);
$color-grid-table-stripe: var(--color-grid-table-stripe);
$color-top-alert-border: var(--color-top-alert-border);
$color-primary-hover: var(--color-primary-hover);
$color-primary-inverse-hover: var(--color-primary-inverse-hover);
$color-icon-button-hover: var(--color-icon-button-hover);
$color-danger-hover: var(--color-danger-hover);
$color-success-hover: var(--color-success-hover);

// Spacing (WIP)
$spacing-xl: 4rem;
$spacing-lg: 2rem;
$spacing: 1.5rem;
$spacing-s: 1.2rem;
$spacing-md: 1rem;
$spacing-sm: 0.5rem;
$spacing-xs: 0.2rem;
$spacing-xxs: 0.1rem;

// Parameters
$drawer-width: 320px;
$drawer-width-narrow: 280px;
$navbar-height: 5rem;
$transition-base: 0.3s ease;
$transition-base-fast: 0.15s ease;
$border-radius: 0.25rem;
$bottom-tabs-height: 4.5rem;
$bottom-tabs-container-width: 600px;
$listview-border: 1px solid $color-border;
$container-padding-x: $spacing;
$container-padding-y: 0;
$side-window-width: 400px;
$focus-outline: 3px solid $color-focus-primary;
$icon-button-size: 2.5rem;

// Container Width
$container-width: 1024px;
$container-width-narrow: 400px;
$container-width-medium: 800px;

// Media Breakpoints
$breakpoint-drawer-narrow: 1440px;
$breakpoint-drawer-hide: 1000px;
$breakpoint-listview-sm: 860px;
$breakpoint-bottom-tabs: $breakpoint-drawer-hide;
$breakpoint-top-alert-col: 860px;
$breakpoint-side-window-fluid: 860px;

// Z indexes
$z-index-loading: 9999;
$z-index-dropdown-menu: 9996;
$z-index-drawer: 9990;
$z-index-drawer-backdrop: 9989;
$z-index-navbar: 9980;
$z-index-side-window: 9970;
$z-index-bottom_tabs: 9980;
$z-index-form-group-addon: 1;
$z-index-form-group-control: 2; // フォームコントロールのフォーカス枠が、フォームアドオンより前面に表示されるようにする
$z-index-form-search-icon: 3;
