@use "sass:math";

// Font Size
$base-font-size-px: 15;
$base-font-size: #{$base-font-size-px + 'px'};
$font-size-xl: #{math.div(24, $base-font-size-px) + 'rem'};
$font-size-lg: #{math.div(20, $base-font-size-px) + 'rem'};
$font-size: #{math.div(14, $base-font-size-px) + 'rem'};
// inputのフォントサイズは16px以上にしないと、フォーカス時 iOS デバイスで
// ズームしてしまう
$font-size-input: #{math.div(16, $base-font-size-px) + 'rem'};

// Color
$color-text: var(--color-text);
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-danger: var(--color-danger);
$color-danger-light: var(--color-danger-light);
$color-success: var(--color-success);
$color-success-light: var(--color-success-light);
$color-muted: var(--color-muted);
$color-muted-2: var(--color-muted-2);
$color-muted-3: var(--color-muted-3);
$color-muted-light: var(--color-muted-light);
$color-border: var(--color-border);
$color-bg-base: var(--color-bg-base);
$color-bg-light: var(--color-bg-light);
$color-bg-surface: var(--color-bg-surface);
$color-bg-surface-2: var(--color-bg-surface-2);
$color-bg-surface-3: var(--color-bg-surface-3);
$color-form-control: var(--color-form-control);
$color-form-control-readonly: var(--color-form-control-readonly);
$color-form-control-focus: var(--color-form-control-focus);
$semantic-colors: (
  primary: $color-primary,
  danger: $color-danger,
  success: $color-success,
  muted: $color-muted,
);
$semantic-light-colors: (
  primary: $color-primary-light,
  danger: $color-danger-light,
  success: $color-success-light,
  muted: $color-muted-light,
);

$color-box-shadow: var(--color-box-shadow);
$color-box-shadow-subdued: var(--color-box-shadow-subdued);
$color-focus-primary: var(--color-focus-primary);
$color-focus-danger: var(--color-focus-danger);
$color-pre-background: var(--color-pre-background);
$color-code-background: var(--color-code-background);
$color-drawer-backdrop: var(--color-drawer-backdrop);
$color-grid-table-stripe: var(--color-grid-table-stripe);
$color-top-alert-border: var(--color-top-alert-border);
$color-primary-hover: var(--color-primary-hover);
$color-primary-inverse-hover: var(--color-primary-inverse-hover);
$color-danger-hover: var(--color-danger-hover);
$color-success-hover: var(--color-success-hover);
$color-emphasis-gray: var(--color-emphasis-gray);
$color-fg-emphasis-gray: var(--color-fg-emphasis-gray);

// Box Shadow
$box-shadow-lv1: 0 0.2rem 0.4rem -0.3rem $color-box-shadow,
  0 0 0 1px $color-box-shadow-subdued;
$box-shadow-lv2: 0 0.4rem 0.8rem -0.3rem $color-box-shadow,
  0 0 0 1px $color-box-shadow-subdued;
$box-shadow-lv3: 0 0.6rem 1.2rem -0.3rem $color-box-shadow,
  0 0 0 1px $color-box-shadow-subdued;
$box-shadow-lv4: 0 0.8rem 1.6rem -0.3rem $color-box-shadow,
  0 0 0 1px $color-box-shadow-subdued;
$box-shadow-focus: 0 0 0 3px $color-focus-primary;

// Spacing (WIP)
$spacing-xl: 4rem;
$spacing-lg: 2rem;
$spacing: 1.5rem;
$spacing-s: 1.2rem;
$spacing-md: 1rem;
$spacing-sm: 0.5rem;
$spacing-xs: 0.2rem;
$spacing-xxs: 0.1rem;

// Parameters
$drawer-width: 320px;
$drawer-width-narrow: 280px;
$navbar-height: 5rem;
$transition-base: 0.3s ease;
$transition-base-fast: 0.15s ease;
$border-radius-sm: 0.2rem;
$border-radius: 0.45rem;
$bottom-tabs-height: 4.5rem;
$bottom-tabs-container-width: 600px;
$listview-border: 1px solid $color-border;
$container-padding-x: $spacing;
$container-padding-y: 0;
$container-padding-x-reduce: $spacing-md;
$side-window-width: 400px;
$focus-outline: 3px solid $color-focus-primary;
$icon-button-size: 2.5rem;

// Container Width
$container-width: 1024px;
$container-width-narrow: 400px;
$container-width-medium: 800px;

// Media Breakpoints
$breakpoint-drawer-narrow: 1440px;
$breakpoint-drawer-hide: 1000px;
$breakpoint-listview-sm: 860px;
$breakpoint-layout-row-single-column: 1200px;
$breakpoint-bottom-tabs: $breakpoint-drawer-hide;
$breakpoint-top-alert-col: 860px;
$breakpoint-side-window-fluid: 860px;
$breakpoint-container-padding-reduce: $breakpoint-drawer-hide;

// Z indexes
$z-index-loading: 9999;
$z-index-dropdown-menu: 9996;
$z-index-drawer: 9990;
$z-index-drawer-backdrop: 9989;
$z-index-navbar: 9980;
$z-index-side-window: 9970;
$z-index-bottom_tabs: 9980;
$z-index-fixed_form_footer: 9985;
$z-index-form-group-addon: 1;
$z-index-form-group-control: 2; // フォームコントロールのフォーカス枠が、フォームアドオンより前面に表示されるようにする
$z-index-form-search-icon: 3;
