APP_NAME=PortalDots
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:3000

PORTAL_ADMIN_NAME=〇〇実行委員会
PORTAL_ADMIN_TWITTER=
PORTAL_CONTACT_EMAIL=info@example.com
PORTAL_UNIVEMAIL_DOMAIN=ed.tus.ac.jp
PORTAL_UPLOAD_DIR_CRUD=
PORTAL_USERS_NUMBER_TO_SUBMIT_CIRCLE=3

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=portal_db
DB_PORT=3306
DB_DATABASE=db_portal_dev
DB_USERNAME=default
DB_PASSWORD=default

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=portal_mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=info@example.com
MAIL_FROM_NAME=ポータル実行委員会

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
