@use "@/sass/variables" as *;
@use "@/sass/v2/utils/link" as *;

body {
  &:not(.is-in-iframe) {
    padding-bottom: calc(env(safe-area-inset-bottom) + #{$bottom-tabs-height});

    @media screen and (min-width: $breakpoint-bottom-tabs) {
      padding-bottom: 0;
    }
  }
}

.bottom_tabs {
  background: $color-bg-surface-2;
  bottom: 0;
  box-shadow: 0 -0.1rem 0.8rem -0.6rem $color-box-shadow;
  height: $bottom-tabs-height;
  height: calc(env(safe-area-inset-bottom) + #{$bottom-tabs-height});
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: $z-index-bottom-tabs;
  &-container {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: $bottom-tabs-container-width;
    padding: 0 $spacing;
    padding: 0 0 env(safe-area-inset-bottom);
    width: 100%;
  }
  &-tab {
    $selector-tab: &;

    @include link-style-reset($color-muted);

    align-items: center;
    color: $color-muted;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    &__icon {
      font-size: 1.4rem;
      margin-bottom: $spacing-sm;
    }
    &__label {
      border-radius: 9999px;
      display: inline-block;
      font-size: 0.6rem;
      font-weight: $font-bold;
      padding: 0 $spacing-sm;
    }
    &__notifier {
      color: $color-primary;
      transform: scale(0.75);
    }
    &.is-active {
      @include link-style-reset($color-primary);

      color: $color-primary;
      #{$selector-tab}__label {
        background: $color-bg-light;
        color: $color-primary;
      }
    }
  }

  @media screen and (min-width: $breakpoint-bottom-tabs) {
    display: none;
  }
}
