@mixin btn($color, $background, $hover-background, $border-color) {
  @if ($background == transparent) {
    background: transparent;
  } @else {
    // rgba で $background が指定されている場合、ボタンの背面にある要素の
    // 背景色に干渉され、ボタンが意図しない色になってしまうことがある。
    // 白色のベースの上に $background を重ねて表示することで、
    // 背面要素の背景色に関わらずボタンが同じ色で表示されるようにしている。
    background: linear-gradient(to top, $background, $background),
      $color-behind-text;
  }

  border: 1px solid $border-color;
  color: $color;
  &:not([disabled]):hover,
  &:not(.disabled):hover {
    background: linear-gradient(to top, $hover-background, $hover-background),
      $color-behind-text;
    border-color: $hover-background;
  }
}

button {
  color: $color-text;
}

body:not(.body-editor-v1) {
  .btn {
    appearance: none;
    background: none;
    border: 0;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-block;
    line-height: 1.15;
    padding: 0.75rem $spacing-md;
    text-align: center;
    text-decoration: none;
    transition: #{$transition-base-fast} background-color;
    white-space: nowrap;
    &:disabled,
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
    &.is-primary {
      @include btn(
        $color-behind-text,
        $color-primary,
        $color-primary-hover,
        $color-primary
      );
    }
    &.is-primary-inverse {
      @include btn(
        $color-primary,
        $color-behind-text,
        $color-primary-inverse-hover,
        $color-behind-text
      );
    }
    &.is-secondary {
      @include btn(
        $color-text,
        $color-behind-text,
        $color-bg-grey,
        $color-border
      );
    }
    &.is-transparent {
      @include btn($color-text, transparent, $color-behind-text, $color-border);
    }
    &.is-danger {
      @include btn(
        $color-behind-text,
        $color-danger,
        $color-danger-hover,
        $color-danger
      );
    }
    &.is-success {
      @include btn(
        $color-behind-text,
        $color-success,
        $color-success-hover,
        $color-success
      );
    }
    &.is-block {
      display: block;
      width: 100%;
    }
    &.is-no-border {
      border: none;
    }
    &.is-wide {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }
    &.is-sm {
      font-size: 0.9rem;
      padding: $spacing-xs $spacing-sm;
    }
  }
}
