textarea {
  resize: vertical;
}

.form {
  &-group {
    margin: 0 0 $spacing-md;
  }
  &-label {
    display: block;
    font-weight: bold;
    margin: 0 0 $spacing-xs;
  }
  &-control {
    appearance: none;
    background-color: $color-form-control;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    caret-color: $color-primary;
    color: $color-text;
    font-size: $font-size-input;
    line-height: 1.6;
    padding: $spacing-sm $spacing-md;
    position: relative;
    transition: #{$transition-base-fast} background-color,
      #{$transition-base-fast} box-shadow, #{$transition-base-fast} border-color;
    width: 100%;
    z-index: $z-index-form-group-control;
    @at-root {
      select#{&} {
        background: right $spacing-md center / 1rem
            url(../../../img/dropdownTriangle.svg) no-repeat,
          $color-form-control !important;

        @media (prefers-color-scheme: dark) {
          background: right $spacing-md center / 1rem
              url(../../../img/dropdownTriangleDark.svg) no-repeat,
            $color-form-control !important;
        }
        &::-ms-expand {
          // IEで、ドロップダウンの標準の三角アイコンが表示されないようにする
          display: none;
        }
      }
    }
    &[disabled] {
      color: $color-muted;
      cursor: not-allowed;
      opacity: 0.75;
    }
    &[readonly] {
      background: $color-form-control-readonly;
    }
    &.is-invalid {
      border-color: $color-danger;
      caret-color: $color-danger;
    }
    &.is-plaintext {
      background: transparent;
      border: 0;
      box-shadow: none;
      padding: $spacing-xxs 0;
    }
    &:focus {
      outline: 0;
    }
    &:not([readonly]):focus {
      background: $color-form-control-focus;
      border-color: $color-primary;
      box-shadow: 0 0 0 3px $color-focus-primary;
    }
    &.is-invalid:focus {
      border-color: $color-danger;
      box-shadow: 0 0 0 3px $color-focus-danger;
    }
  }
  &-checkbox,
  &-radio {
    $input-spacing: $spacing-md + $spacing-xs;
    &__label {
      display: block;
      margin: 0 0 $spacing-sm;
      padding: 0 0 0 #{$input-spacing};
      position: relative;
      &:last-child {
        margin: 0;
      }
    }
    &__input {
      margin: 0.4rem 0 0 #{-$input-spacing};
      position: absolute;
    }
  }
  &-text {
    display: block;
    margin: $spacing-xs 0;
  }
  &-invalid-feedback {
    color: $color-danger;
    display: block;
    margin: $spacing-xs 0;
  }
}
