textarea {
  resize: vertical;
}

.form {
  margin: $spacing 0;
  &-group {
    margin: 0 0 $spacing-md;
  }
  &-label {
    display: block;
    font-weight: bold;
    margin: 0 0 $spacing-xs;
  }
  &-control {
    appearance: none;
    background-color: $color-bg-white;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    box-shadow: inset 0 0.5px 1.5px rgba($color-text, 0.1);
    font-size: $font-size-input;
    padding: 0.75rem $spacing-md;
    transition: #{$transition-base-fast} background-color, #{$transition-base-fast} box-shadow;
    width: 100%;
    @at-root {
      select#{&} {
        background: right $spacing-md center / 1rem url(../img/dropdownTriangle.svg) no-repeat, $color-bg-white;
        &::-ms-expand {
          // IEで、ドロップダウンの標準の三角アイコンが表示されないようにする
          display: none;
        }
      }
    }
    &[disabled] {
      background: $color-bg-grey;
      color: $color-muted;
      opacity: 0.75;
    }
    &.is-invalid {
      border-color: $color-danger;
    }
    &.is-plaintext {
      background: transparent;
      border: 0;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
    }
    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 3px rgba($color-primary, 0.25);
      outline: 0;
    }
  }
  &-text {
    display: block;
    margin: $spacing-xs 0;
  }
  &-invalid-feedback {
    color: $color-danger;
    display: block;
    margin: $spacing-xs 0;
  }
}
