textarea {
  resize: vertical;
}

.form {
  margin: $spacing 0;
  &-group {
    margin: 0 0 $spacing-md;
  }
  &-label {
    display: block;
    font-weight: bold;
    margin: 0 0 $spacing-xs;
  }
  &-control {
    $default-box-shadow: inset 0 0.5px 1.5px rgba($color-text, 0.1);

    appearance: none;
    background-color: $color-bg-white;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    box-shadow: $default-box-shadow;
    font-size: $font-size-input;
    line-height: 1.6;
    padding: $spacing-sm $spacing-md;
    transition: #{$transition-base-fast} background-color, #{$transition-base-fast} box-shadow, #{$transition-base-fast} border-color;
    width: 100%;
    @at-root {
      select#{&} {
        background: right $spacing-md center / 1rem url(../img/dropdownTriangle.svg) no-repeat, $color-bg-white;
        &::-ms-expand {
          // IEで、ドロップダウンの標準の三角アイコンが表示されないようにする
          display: none;
        }
      }
    }
    &[disabled] {
      background: $color-bg-grey;
      color: $color-muted;
      cursor: not-allowed;
      opacity: 0.75;
    }
    &[readonly] {
      background: $color-bg-grey;
    }
    &.is-invalid {
      border-color: $color-danger;
    }
    &.is-plaintext {
      background: transparent;
      border: 0;
      box-shadow: none;
      padding: $spacing-xxs 0;
    }
    &:focus {
      border-color: $color-primary;
      box-shadow: $default-box-shadow, 0 0 0 3px rgba($color-primary, 0.25);
      outline: 0;
    }
    &.is-invalid:focus {
      border-color: $color-danger;
      box-shadow: 0 0 0 3px rgba($color-danger, 0.25);
    }
  }
  &-checkbox,
  &-radio {
    $input-spacing: $spacing-md + $spacing-xs;
    &__label {
      display: block;
      margin: 0 0 $spacing-sm;
      padding: 0 0 0 #{$input-spacing};
      position: relative;
    }
    &__input {
      margin: 0.4rem 0 0 #{-$input-spacing};
      position: absolute;
    }
  }
  &-text {
    display: block;
    margin: $spacing-xs 0;
  }
  &-invalid-feedback {
    color: $color-danger;
    display: block;
    margin: $spacing-xs 0;
  }
}
