.header {
  margin: 0 0 $spacing;
  padding: $spacing-lg 0 #{$spacing-lg - $spacing};
  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 $spacing-xs;
  }
  &__date {
    color: $color-muted;
    margin: 0 0 $spacing-md;
  }
  &__description {
    margin: 0;
  }
}
