.header {
  margin: 0;
  padding: $spacing-lg 0;
  &__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
    margin: $spacing-xs 0;
  }
  &__date {
    color: $color-muted;
    margin: 0 0 $spacing-md;
  }
  &__description {
    margin: 0;
  }
}
