.jumbotron {
  background: $color-bg-grey;
  border-radius: 2rem;
  margin: 0 $spacing;
  padding: $spacing-xl 0;
  &__title {
    font-size: 2rem;
    margin: 0 0 $spacing-xs;
    text-align: center;
  }
  &__lead {
    color: $color-muted;
    margin: 0 0 $spacing;
    text-align: center;
  }
}
