@use "@/sass/variables" as *;

.jumbotron {
  background: $color-bg-surface;
  padding: $spacing-xl 0;
  &__title {
    font-size: 1.5rem;
    font-weight: $font-bold;
    margin: 0 0 $spacing-xs;
    text-align: center;
  }
  &__lead {
    color: $color-muted;
    margin: 0 0 $spacing;
    text-align: center;
  }
}
