.turbolinks-progress-bar {
  background-color: $color-primary;
}

.loading {
  align-items: center;
  background: $color-bg-base;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-loading;
  &.is-done {
    display: none;
  }
  &-circle {
    $circle-size: 3rem;

    animation: loading 0.75s linear infinite;
    border: 0.25rem solid $color-primary;
    border-radius: 50%;
    border-top: 0;
    height: $circle-size;
    width: $circle-size;

    @keyframes loading {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &-noscript {
    margin: $spacing 0 0;
  }
  &-noscript + &-circle {
    display: none;
  }
  &-isie {
    display: none;
  }
}
