.turbolinks-progress-bar {
  background-color: $color-primary;
}

.loading {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-loading;
  &.is-done {
    display: none;
  }
  &-circle {
    $circle-size: 5rem;

    align-items: center;
    animation: loading 0.75s linear infinite;
    background: linear-gradient(to bottom right, $color-primary, #fff 40%);
    border-radius: 50%;
    display: flex;
    height: $circle-size;
    justify-content: center;
    width: $circle-size;

    @keyframes loading {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    &::after {
      background: #fff;
      border-radius: 50%;
      content: "";
      display: block;
      height: calc(#{$circle-size} - 4px);
      width: calc(#{$circle-size} - 4px);
    }
  }
  &-noscript {
    margin: $spacing 0 0;
  }
  &-noscript + &-circle {
    display: none;
  }
}
