$heading-borders: true;
$line-height: 1.7;
$margin: $spacing;
$heading-borders: true;

@import 'wysiwyg.css/wysiwyg.sass';

.markdown {
  @extend .wysiwyg;
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  ol,
  ul {
    margin-left: 0;
    padding-left: $spacing-md;
  }
  p, dl, ol, ul, blockquote, pre, table {
    margin-bottom: $spacing-md;
  }
  h1, h2, h3 {
    line-height: $line-height;
    padding-top: $spacing-md;
    &:first-child {
      padding-top: 0;
    }
  }
}
