$heading-borders: true;
$line-height: 1.7;
$margin: $spacing;
$heading-borders: true;

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import './wysiwyg';

.markdown {
  @extend .wysiwyg;
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  ol,
  ul {
    margin-left: 0;
    padding-left: $spacing-md;
  }
  li {
    margin: $spacing-sm 0 $spacing-sm $spacing-md;
  }
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    margin-bottom: $spacing-md;
  }
  code,
  kbd,
  samp {
    color: $color-text;
  }
  h1,
  h2,
  h3 {
    border-color: $color-border;
    line-height: $line-height;
    margin-top: $spacing-lg;
    padding-bottom: $spacing-xs;
  }
  h1 {
    border-width: 3px;
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  hr {
    background: none;
    border: 0;
    border-top: 1px solid $color-border;
  }
  pre {
    background: $color-pre-background;
    border: 1px solid $color-border;
    border-radius: $border-radius;
  }
  pre code {
    line-height: $line-height;
  }
  blockquote {
    border-color: $color-border;
    color: $color-muted;
    margin-left: 0;
  }
  table {
    border-collapse: collapse;
  }
  thead tr,
  tfoot tr {
    background: $color-bg-light;
  }
  tbody tr {
    background: $color-bg-base;
  }
  th {
    text-align: left;
    &[align='center'] {
      text-align: center;
    }
    &[align='right'] {
      text-align: right;
    }
  }
  th,
  td {
    border-color: $color-border;
  }
}
