.tab_strip {
  background: $color-bg-white;
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0 $spacing;
  @media screen and (max-width: $breakpoint-listview-sm) {
    padding: 0;
  }
  &-tab {
    color: $color-text;
    display: block;
    padding: $spacing $spacing $spacing-md;
    text-align: center;
    @media screen and (max-width: $breakpoint-listview-sm) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    &:hover,
    &:focus,
    &:active {
      color: $color-text;
      text-decoration: none;
    }
    &.is-active {
      font-weight: bold;
      position: relative;
      &::before {
        $bar-width: 4px;

        background: $color-primary;
        border-radius: $bar-width $bar-width 0 0;
        bottom: 0;
        content: "";
        display: block;
        height: $bar-width;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}
