.tab_strip {
  background: $color-bg-surface;
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0 $spacing;

  @media screen and (max-width: $breakpoint-listview-sm) {
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0 $spacing-sm;
  }
  &-tab {
    color: $color-text;
    display: block;
    padding: $spacing $spacing $spacing-md;
    text-align: center;

    @media screen and (max-width: $breakpoint-listview-sm) {
      white-space: nowrap;
    }
    &:hover,
    &:focus,
    &:active {
      color: $color-text;
      outline-offset: -3px;
      text-decoration: none;
    }
    &.is-active {
      font-weight: $font-bold;
      position: relative;
      &::before {
        $bar-width: 4px;

        background: $color-primary;
        border-radius: $bar-width $bar-width 0 0;
        bottom: 0;
        content: "";
        display: block;
        height: $bar-width;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}
