{% extends "layout_global.html.twig" %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ base_url('common/css/entrance.css?v=2') }}">
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-push-7 entrance__maincontent">
        {% block maincontent %}{% endblock %}
      </div>
      <div class="col-md-7 col-md-pull-5 entrance__subcontent">
        {% block subcontent %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
