$app-navbar-height: 5rem;
$narrow-container-width: 600px;
$navbar-brand-height: 3rem;

$enable-shadows: true;
$enable-gradients: true;

$editor-header-height: 4rem;
$editor-sidebar-width: 300px;

@import './v2/variables';
