/**
*** v2 Styles
**/
@import 'v2/app';

/**
*** Forms Editor
**/
@import 'forms_editor';

/**
*** v1 Styles
**/

.body-v1 {
  // Variables
  @import 'variables';

  background: #f8fafc;
  color: #304554;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: $app-navbar-height + 1rem;

  //// _layout_narrow.scss
  .narrow-container {
    max-width: $narrow-container-width;
  }

  //// _navbar.scss
  .app-navbar {
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(#000, .075);
    height: $app-navbar-height;
    padding-bottom: 0;
    padding-left: calc(env(safe-area-inset-left) + 1rem);
    padding-right: calc(env(safe-area-inset-right) + 1rem);
    padding-top: env(safe-area-inset-top);
    .nav-link {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

}
