.body-editor-v1 {
  // Variables
  /* stylelint-disable no-invalid-position-at-import-rule */
  @import "variables";
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins";
  /* stylelint-enable no-invalid-position-at-import-rule */

  padding-top: $editor-header-height;
  .navbar {
    background: $color-bg-surface;
    height: $app-navbar-height;
  }

  // EditorHeader.vue
  .editor-header-styling {
    height: $editor-header-height;
    left: 0;
    line-height: 1;
    padding: 0 $navbar-padding-x;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  // EditorContent.vue
  .editor-content-styling {
    margin-right: $editor-sidebar-width;
  }

  // EditorSidebar.vue
  .empty-option {
    padding-top: 0.25rem;
  }
  .empty-option-text {
    margin-bottom: 0;
    margin-top: 0.25rem;
  }
}
