// Variables
@import 'variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$editor-header-height: 4rem;
$editor-sidebar-width: 300px;

body {
  padding-top: $app-navbar-height + $editor-header-height;
}

.spnav-space,
.spnav-list {
  display: none;
}

// EditorHeader.vue

.editor-header-styling {
  height: $editor-header-height;
  left: 0;
  line-height: 1;
  padding: 0 $navbar-padding-x;
  position: fixed;
  top: $app-navbar-height;
  width: 100%;
  z-index: 100;
}

// EditorContent.vue

.editor-content-styling {
  margin-right: $editor-sidebar-width;
}

// EditorSidebar.vue

.editor-sidebar-styling {
  bottom: 0;
  position: fixed;
  right: 0;
  top: $app-navbar-height + $editor-header-height;
  width: $editor-sidebar-width;
  z-index: 10;
}
