.body-editor-v1 {
  // Variables
  /* stylelint-disable no-invalid-position-at-import-rule */
  @import 'variables';
  /* stylelint-enable no-invalid-position-at-import-rule */

  padding-top: $editor-header-height;
  .navbar {
    background: $color-behind-text;
    height: $app-navbar-height;
  }

  // EditorHeader.vue
  .editor-header-styling {
    height: $editor-header-height;
    left: 0;
    line-height: 1;
    padding: 0 $spacing;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  // EditorContent.vue
  .editor-content-styling {
    margin-right: $editor-sidebar-width;
  }
}
