{% extends "layout_entrance.html.twig" %}

{% block title %}404 Page Not Found - {{ constant("APP_NAME") }}{% endblock %}

{% block main %}

  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="entrance__mainpanel">
          <h1>404 Page Not Found</h1>
          <p class="lead">ページが見つかりませんでした。</p>
          <p>
            <a href="{{ base_url() }}" class="btn btn-default">ホームに戻る</a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
