@charset "utf-8";

@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}

body {
  padding-top: 104px;
  color: #304554;
}

@media print {
  body {
    padding-top: 0;
  }
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,.alert, .badge, .breadcrumb, .btn, .form-control, .input-gruop, .label, .lead, .list-group, .nav-pills, .nav-tabs, .navbar, .no-thank-yu, .pager, .pagination, .panel-heading, .panel-title, .popover, .tooltip {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
.btn,
.panel-title,
.dropdown-menu>li>a {
  font-size: 14px;
}

.navbar {
  box-shadow: 0 1px 1px 1px rgba( 0, 0, 0, .1 );
  border-bottom: 0;
}

.navbar-toggle {
  transition: ease .3s all;
  float: left;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 24px;
  padding-right: 10px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background: transparent;
}

.navbar-toggle:hover {
  opacity: .7;
}

.navbar-brand {
  font-size: 16px;
  letter-spacing: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-brand:hover {
  opacity: .7;
}

.navbar-brand .badge {
  letter-spacing: normal;
}

.navbar-brand.navbar-brand-static {
  letter-spacing: 0;
}

.navbar-brand.navbar-brand-static:hover {
  opacity: 1;
}

a {
  white-space: normal;
  word-wrap: break-word;
}

.btn.btn-wide {
  padding-left: 45px;
  padding-right: 45px;
}

textarea.form-control {
  resize: vertical;
}

input.form-control[type=file] {
  outline: 0;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
}

@media screen and ( max-width: 1199px ) {
  .row.row-flex > *[class^="col-lg-"] {
    width: 100%;
  }
}

/**
 * helper
 */
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/*
bug fix
 */
@media( min-width: 768px ) {

  .navbar-right {
    margin-right: 0;
  }

}

/*
fixed-width
 */
.w-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.w-max-lg,
.w-max-md,
.w-max-sm {
  width: 100%;
}

@media (min-width: 1200px) {
  .w-max-lg {
    max-width: 1200px;
  }
}

@media (min-width: 992px) {
  .w-max-md {
    max-width: 992px;
  }
}

@media (min-width: 768px) {
  .w-max-sm {
    max-width: 768px;
  }
}
