<Files ".user.ini">
    Order Allow,Deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# アップロードできるファイルサイズを 50MB に設定
#
# 50MB を超えるファイルがアップロードされると、画面上に
# 「アップロードに失敗しました」というエラーが表示されます
#
# この設定は、PHP がモジュールモードで動作するサーバーでのみ有効になります
# CGI モードで動作するサーバーのため、別途 .user.ini でも同様の設定を行っています
<IfModule mod_php7.c>
    php_value upload_max_filesize "50M"
    php_value post_max_size "55M"
</IfModule>
