{% extends "layout_main.html.twig" %}

{% block title %}
  ヘルプ - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">ヘルプ</h1>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">

      <section class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">私は誰ですか？</h2>
        </div>
        <div class="panel-body">
          <p>あなたは私と同じホモ・サピエンスと呼ばれる動物です。</p>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">私は誰ですか？</h2>
        </div>
        <div class="panel-body">
          <p>あなたは私と同じホモ・サピエンスと呼ばれる動物です。</p>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">私は誰ですか？</h2>
        </div>
        <div class="panel-body">
          <p>あなたは私と同じホモ・サピエンスと呼ばれる動物です。</p>
        </div>
      </section>

    </div>
  </div>

{% endblock %}
