{% extends "layout_global.html.twig" %}

{% block title %}ユーザー登録 - {{ constant("APP_NAME") }}{% endblock %}

{% block main %}

<div class="container">
  <h1 class="text-center">確認メールを送信しました。</h1>
  <p class="text-center text-danger">
    <strong>まだ登録は完了していません！</strong>
  </p>
  <p>以下のメールアドレス宛に確認メールを送信しました。<strong>確認メールに書かれているURLにアクセスしてください。</strong></p>

  <div class="row">
    {# 大学提供のメールアドレス #}
    {% if attribute( email_sent_to, 'univemail' ) is not empty %}
      <div class="col-md-6">
        <div class="well well-sm text-center">
          <div class="alert alert-danger">
            <p class="h1 text-danger" style="margin:0">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </p>
            <p class="text-danger">認証未完了</p>
          </div>
          <p><b>本人確認</b>のため</p>
          <p class="lead">
            {{ attribute( email_sent_to, 'univemail' ) }}
          </p>
          <p>に確認メールを送信しました。送信から<b>24時間以内</b>に、確認メールに書かれているURLにアクセスしてください。</p>
          <p>
            <a href="https://outlook.office.com/owa/" class="btn btn-primary" target="_blank">
              Outlook でメールを確認する
            </a>
          </p>
        </div>
      </div>
    {% endif %}

    {# 連絡先メールアドレス #}
    {% if attribute( email_sent_to, 'email' ) is defined %}
      <div class="col-md-6">
        <div class="well well-sm text-center">
          <div class="alert alert-danger">
            <p class="h1 text-danger" style="margin:0">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </p>
            <p class="text-danger">認証未完了</p>
          </div>
          <p><b>メールアドレスの存在チェック</b>のため</p>
          <p class="lead">
            {{ attribute( email_sent_to, 'email' ) }}
          </p>
          <p>に確認メールを送信しました。送信から<b>24時間以内</b>に、確認メールに書かれているURLにアクセスしてください。</p>
          <p>
            <span class="btn btn-primary disabled">
              メールを確認する
            </span>
          </p>
        </div>
      </div>
    {% endif %}
  </div>

</div>

{% endblock %}
