.pt-spacing {
  padding-top: $spacing !important;
  &-lg {
    padding-top: $spacing-lg !important;
  }
  &-md {
    padding-top: $spacing-md !important;
  }
  &-sm {
    padding-top: $spacing-sm !important;
  }
}

.pb-spacing {
  padding-bottom: $spacing !important;
  &-lg {
    padding-bottom: $spacing-lg !important;
  }
  &-sm {
    padding-bottom: $spacing-sm !important;
  }
}

.px-spacing {
  padding-left: $spacing !important;
  padding-right: $spacing !important;
  &-lg {
    padding-left: $spacing-lg !important;
    padding-right: $spacing-lg !important;
  }
  &-md {
    padding-left: $spacing-md !important;
    padding-right: $spacing-md !important;
  }
}

.py-spacing {
  padding-bottom: $spacing !important;
  padding-top: $spacing !important;
  &-lg {
    padding-bottom: $spacing-lg !important;
    padding-top: $spacing-lg !important;
  }
  &-md {
    padding-bottom: $spacing-md !important;
    padding-top: $spacing-md !important;
  }
}
