.text {
  // Colors
  &-success {
    color: $color-success;
  }
  &-primary {
    color: $color-primary;
  }
  &-danger {
    color: $color-danger;
  }
  &-muted {
    color: $color-muted;
  }
  // Aligns
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
