html {
  font-size: $base-font-size;

  @media screen and (max-width: 350px) {
    font-size: #{($base-font-size-px * 0.8) + 'px'};
  }
}

body {
  background: $color-bg-grey;
  color: $color-text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: $focus-outline;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: 1px solid $color-border;
  margin: $spacing 0;
  padding: 0;
}

p {
  margin: 0 0 1rem;
}

dt {
  font-weight: bold;
  margin: $spacing-md 0 0;
  &:first-child {
    margin: 0;
  }
}

dd {
  margin: 0;
  margin: $spacing-sm 0 $spacing-md;
}

li {
  margin: 0 0 $spacing-sm;
}

code {
  background: rgba($color-success, 0.1);
  border-radius: $border-radius;
  color: $color-success;
  display: inline-block;
  line-height: 1;
  padding: $spacing-xxs $spacing-xs;
}

summary {
  cursor: pointer;
}

strong,
b {
  // font-weight が bold となっている要素内で strong や b タグを使ってしまうと
  // Mac では極太フォントになってしまう。極太フォントにする必要はないので、
  // 普通の bold を指定している。
  font-weight: bold;
}
