html {
  font-size: $base-font-size;

  @media screen and (max-width: 350px) {
    font-size: #{($base-font-size-px * 0.8) + 'px'};
  }
}

body {
  background: $color-bg-base;
  color: $color-text;
  font-family: 'Segoe UI', Meiryo, system-ui, -apple-system, Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.7;
  &.is-in-iframe {
    background: transparent;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: $focus-outline;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: 1px solid $color-border;
  margin: $spacing 0;
  padding: 0;
}

p {
  margin: 0 0 1rem;
}

dl,
ul,
ol,
p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

dt {
  color: $color-muted;
  font-size: 0.9rem;
  font-weight: $font-bold;
  margin: $spacing-lg 0 $spacing-xs;
  &:first-child {
    margin-top: 0;
  }
}

dd {
  margin: 0;
}

li {
  margin: 0 0 $spacing-sm;
}

code {
  background: $color-code-background;
  border-radius: $border-radius;
  color: $color-success;
  display: inline-block;
  line-height: 1;
  padding: $spacing-xxs $spacing-xs;
}

summary {
  cursor: pointer;
}

strong,
b {
  // font-weight が bold となっている要素内で strong や b タグを使ってしまうと
  // Mac では極太フォントになってしまう。極太フォントにする必要はないので、
  // 普通の bold を指定している。
  font-weight: $font-bold;
}
