.content {
  margin-left: $drawer-width;
  padding: $navbar-height 0 $spacing-lg;
  &.is-no-drawer {
    margin-left: 0;
  }

  @media screen and (max-width: $breakpoint-drawer-hide) {
    margin-left: 0;
  }

  @media screen and (max-width: $breakpoint-bottom-tabs) {
    padding-bottom: 0;
  }
}
