.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $navbar-height 0 0 $drawer-width;
  &.is-no-drawer {
    padding-left: 0;
  }
  &.is-no-navbar {
    padding-top: 0;
  }
  &__body {
    flex: 1;

    &:has(> &__content_iframe) {
      display: flex;
      flex-direction: column;
    }

    &__content_iframe {
      display: flex;
      flex-direction: column;
      flex: 1;

      iframe {
        border: none;
        flex: 1;
      }
    }
  }

  @media screen and (max-width: $breakpoint-drawer-narrow) {
    padding-left: $drawer-width-narrow;
  }

  @media screen and (max-width: $breakpoint-drawer-hide) {
    padding-left: 0;
  }

  @media screen and (max-width: $breakpoint-bottom-tabs) {
    padding-bottom: 0;
  }
}
