.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $navbar-height 0 $spacing-lg $drawer-width;
  &.is-no-drawer {
    padding-left: 0;
  }

  @media screen and (max-width: $breakpoint-drawer-narrow) {
    padding-left: $drawer-width-narrow;
  }

  @media screen and (max-width: $breakpoint-drawer-hide) {
    padding-left: 0;
  }

  @media screen and (max-width: $breakpoint-bottom-tabs) {
    padding-bottom: 0;
  }
}
