.drawer {
  background: $color-bg-white;
  border-right: 1px solid $color-border;
  height: 100%;
  max-width: 80vw;
  position: fixed;
  top: 0;
  transition: #{$transition-base} transform;
  width: $drawer-width;
  z-index: $z-index-drawer;
  &:focus {
    outline: 0;
  }
  @mixin divider($is-bottom: false) {
    position: relative;
    &::after {
      border-bottom: 1px solid $color-border;
      content: "";
      display: block;
      height: 1px;
      left: $spacing;
      position: absolute;
      right: $spacing;
      @if ($is-bottom) {
        bottom: 0;
      } @else {
        top: 0;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }

  @media screen and (max-width: $breakpoint-drawer-hide) {
    transform: translateX(-100%);
    &.is-open {
      transform: translateX(0);
    }
  }
  &-header {
    @include divider(true);

    color: $color-text;
    display: block;
    font-weight: bold;
    padding: $spacing;
    padding-top: #{$navbar-height + $spacing};
    &:hover,
    &:focus,
    &:active {
      color: $color-text;
      text-decoration: none;
    }
  }
  &-circle-selector {
    @include divider(true);

    display: block;
    padding: $spacing;
    padding-top: #{$navbar-height + $spacing};
    transition: #{$transition-base-fast} background-color;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
    &__name {
      color: $color-text;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__subline {
      color: $color-muted;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__link {
      font-size: 0.9rem;
      margin: $spacing-xs 0 0;
    }
    &:hover {
      background: $color-bg-light;
    }
  }
  &-nav {
    padding: $spacing-sm 0;
    &__link {
      color: $color-text;
      display: block;
      padding: $spacing-s $spacing;
      transition: #{$transition-base-fast} background-color;
      &:hover {
        background: $color-bg-light;
      }
      &:hover,
      &:focus,
      &:active {
        color: $color-text;
        outline: 0;
        text-decoration: none;
      }
      &.is-active {
        color: $color-primary;
        font-weight: bold;
        position: relative;
        &::before {
          $bar-width: 4px;

          background: $color-primary;
          border-radius: 0 $bar-width $bar-width 0;
          bottom: $spacing-sm;
          content: "";
          display: block;
          left: 0;
          position: absolute;
          top: $spacing-sm;
          width: $bar-width;
        }
      }
    }
    &__icon {
      font-size: 1.2rem;
      margin-right: $spacing-sm;
      opacity: 0.5;
    }
    &__link:focus &__icon {
      outline: $focus-outline;
    }
  }
  &-user {
    @include divider(false);

    padding: $spacing;
    &__info {
      font-weight: bold;
      margin: 0 0 $spacing-md;
      text-align: center;
    }
  }
  &-adj {
    margin-top: auto;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.drawer-backdrop {
  background: rgba($color-text, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: #{$transition-base} opacity, #{$transition-base} visibility;
  visibility: hidden;
  width: 100vw;
  z-index: $z-index-drawer-backdrop;

  @media screen and (max-width: $breakpoint-drawer-hide) {
    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
}
